{% extends 'supervisor/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Complaint : {{ object.subject }} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Details Of Complaints
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

 <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Hostel :</strong> {{ object.hostel }}</li>
              <li class="list-group-item"><strong>Category:</strong> {{ object.category }}</li>
              <li class="list-group-item"><strong>Subject:</strong> {{ object.subject }}</li>
              <li class="list-group-item"><strong>Description:</strong> {{ object.desc }}</li>
              <li class="list-group-item"><strong>Date Reported :</strong> {{ object.date_reported }}</li>
              <li class="list-group-item"><strong>Complaint Start Date :</strong> {{ object.complain_start_date }}</li>
              <li class="list-group-item"><strong>Attended :</strong> {{ object.is_attended }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer" style="padding-top: 10px">
        <div class="col-12">
                <a href="{% url 'smcomplain' %}"><button type="button" class="btn btn-success">Back</button></a>
        </div>
    </div>


          </div>
        </div>
      </div>
    </div>
{% endblock %}
